<template>
  <div class="bmi-form">
    <h1>{{ msg }}</h1>
    <div class="bmi-height" >
      <label for="bmiHeight">Height</label>
      <input v-model.number="height"  name="bmiHeight"/>
    </div>
    <div class="bmi-weight">
      <label for="bmiWeight">Weight</label>
      <input v-model.number="weight" name="bmiWeight" />
    </div>
    <button @click="clickToCalculateBmi">Calculate Result</button>
    <h2 class="bmi-result">{{bmiResult}}</h2>
    <p>{{bmiExplaination}}</p>
  </div>
</template>

<script>
export default {
  name: 'CalculateBMIForm',
  props: {
    msg: String
  },
  data: function() {
    return {
      height: null,
      weight: null,
      bmiResult: null,
    };
  },
  computed: {
    heightInMeter: function () {
      return this.height ? this.height / 100 : 0;
    },

    bmiExplaination() {
      if (!this.bmiResult) {
        return "";
      }
      if (this.bmiResult < 18.5) {
        return "you're in the underweight range";
      }
      if (this.bmiResult < 24.9) {
        return "you're in the healthy weight range";
      }
      if (this.bmiResult < 29.9) {
        return "you're in the overweight range";
      }
      if (this.bmiResult < 39.9) {
        return "you're in the obese range";
      }
      return "";
    },
  },

  methods: {
    clickToCalculateBmi() {
      if (this.height && this.weight && !isNaN(this.height) && !isNaN(this.weight)) {
        this.bmiResult = (this.weight/ (this.heightInMeter * this.heightInMeter)).toFixed(2);
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
.bmi-form label {
    margin-right: 15px;

}
.bmi-height, .bmi-weight {
  margin-bottom: 15px;
}
</style>
