<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <CalculateBMIForm :msg=parentMsg />
  </div>
</template>

<script>
import CalculateBMIForm from './components/CalculateBMI.vue'

export default {
  name: 'App',
  components: {
    CalculateBMIForm
  },
  data: function() {
    return {
      parentMsg: 'Calculate BMI',
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
